<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macalis Marcenaria</title>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../static/swipper/swiper-bundle.min.css">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    

</head>
<body>
    
    <!-- Header -->
    <header class="header">
        <nav class="nav container flex">
            <a href="#" class="logo-content flex">
                <img src="../static/img/logoMacalis.png"  alt="" class="logo-img">
                <span class="logo-text">Macalis Marcenaria</span>
            </a>

            <div class="menu-content">
                <ul class="menu-list flex">
                    <li><a href="#home" class="nav-link active-navlink">home</a></li>
                    <li><a href="#about" class="nav-link">sobre</a></li>
                    <li><a href="#menu" class="nav-link">portfolio</a></li>
                    <li><a href="#review" class="nav-link">feedbacks</a></li>
                </ul>

                <div class="media-icons flex">
                    <a href="https://www.instagram.com/macalismarcenaria/"><i class='bx bxl-instagram-alt' ></i></a>
                </div>

                <i class='bx bx-x navClose-btn'></i>
            </div>

            <div class="contact-content flex">
                <i class='bx bxl-whatsapp whatsapp-icon'></i>
                <a href="https://wa.me/5511975088536" target="_blank"><span class="phone-number">+55 11 98254-2430</span></a>
            </div>

            <i class='bx bx-menu navOpen-btn' ></i>

        </nav>
    </header>

    <main>
    <!-- Home Section -->
        <section class="home" id="home">
            <div class="home-content">
                <div class="swiper mySwiper">
                    
                    <div class="swiper-wrapper">
                        <!-- Imagem 1 -->
                        <div class="swiper-slide">
                            <img src="" alt="" class="home-img">

                            <div class="home-details">
                                <div class="home-text">
                                    <h4 class="homeSubtitle">Sua casa perfeita!</h4>
                                    <h2 class="homeTitle">Do seu jeito</h2>
                                </div>

                                <button class="button">Saiba Mais</button>

                            </div>
                        </div>

                        <!-- Imagem 2 -->
                        <div class="swiper-slide">
                            <img src="" alt="" class="home-img">

                            <div class="home-details">
                                <div class="home-text">
                                    <h4 class="homeSubtitle">Sua casa perfeita!</h4>
                                    <h2 class="homeTitle"></h2>
                                </div>

                                <button class="button">Saiba Mais</button>

                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

    <!-- About Section -->
        <section class="section about" id="about">
            <div class="about-content container">
                <div class="about-imageContent">
                    <img src="../static/img/painelRipadoSala.jpg" alt="" class="about-img">

                    <div class="aboutImg-textBox">
                        <i class='bx bx-diamond diamond-icon flex' ></i>
                        <p class="content-description">Macalis Marcenria foi uma empresa pipipopo</p>
                    </div>
                </div>

                <div class="about-details">
                    <div class="about-text">
                        <h4 class="content-subtitle"><i>Moveis Planejados</i></h4>
                        <h2 class="content-title">Cozinha Planejada</h2>
                        <p class="content-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Et est itaque, laboriosam minima in nesciunt aperiam at nam nostrum, perferendis deleniti tenetur unde obcaecati quae cumque voluptate sequi, enim aspernatur.</p>
                    
                        <ul class="about-lists flex">
                            <li class="about-list">Cozinhas</li>
                            <li class="about-list dot">.</li>
                            <li class="about-list">Salas</li>
                            <li class="about-list dot">.</li>
                            <li class="about-list">Quartos</li>
                        </ul>
                    </div>

                    <div class="about-buttons flex">
                        <button class="button">Sobre</button>

                        <a href="" class="about-link flex">
                            <span class="link-text">veja mais</span>
                            <i class='bx bx-right-arrow-alt about-arrowIcon' ></i>
                        </a>

                    </div>
                </div>

            </div>
        </section>

    <!-- Menu Section -->
        <section class="section menu" id="menu">

        </section>

    <!-- Brand Section -->
        <section class="section brand" id="brand">

        </section>

    <!-- Reviews Section-->
        <section class="section review" id="review">
            <div class="review-container container">
                <div class="review-text">
                    <h4 class="section-subtitle"><i>Reviews</i></h4>
                    <h2 class="section-title">O que os Clientes dizem</h2>
                    <p class="section-description">O Atendimento é õtimo. serviço realizado foi perfeito</p>
                </div>

                <div class="tesitmonial swiper mySwiper">
                    <div class="swiper-wrapper">
                        <!-- Review 1 -->
                        <div class="testi-content swiper-slide flex">
                            <img src="../static/img/adilanProfile.jpeg" alt="" class="review-img">
                            <p class="review-quote">Muito Bom!</p>
                            <i class='bx bxs-quote-alt-left quote-icon'></i>

                            <div class="testi-personDetails flex">
                                <span class="name">Adilan</span>
                                <span class="job">App Developer</span>
                            </div>
                        </div>

                        <!-- Review 2 -->
                        <div class="testi-content swiper-slide flex">
                            <img src="../static/img/adilanProfile.jpeg" alt="" class="review-img">
                            <p class="review-quote">Muito Bom!</p>
                            <i class='bx bxs-quote-alt-left quote-icon'></i>

                            <div class="testi-personDetails">
                                <span class="name">Adilan</span>
                                <span class="job">App Developer</span>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

    <!-- Newsletter Section -->
        <section class="section newsletter" id="newsletter">

        </section>

    <!-- Footer Section -->
        <section class="section footer" id="footer">
            <div class="footer-container container">
                <div class="footer-content">
                    <a href="" class="logo-content flex">
                        <img src="../static/img/logoMacalis.png"  alt="" class="logo-img">
                        <span class="logo-text">Macalis Marcenaria</span>
                    </a>

                    <p class="content-description">Descricao da empresa</p>

                    <div class="footer-location flex">
                        <i class="bx bx-map map-icon"></i>

                        <div class="location-text">
                            Av.Getulio Vargas, 82 - Mogi das Cruzes, SP
                        </div>
                    </div>
                </div>

                <div class="footer-linkContent">
                    <!-- Coluna 1 -->
                    <ul class="footer-links">
                        <h4 class="footerLinks-title">Projetos</h4>

                        <li><a href="" class="footer-link">Quartos</a></li>
                        <li><a href="" class="footer-link">Salas</a></li>
                        <li><a href="" class="footer-link">Cozinha</a></li>
                        <li><a href="" class="footer-link">Area de Lazer</a></li>
                    </ul>

                    <!-- Coluna 2 -->
                    <ul class="footer-links">
                        <h4 class="footerLinks-title">Facility</h4>

                        <li><a href="" class="footer-link">Quartos</a></li>
                        <li><a href="" class="footer-link">Salas</a></li>
                        <li><a href="" class="footer-link">Cozinha</a></li>
                        <li><a href="" class="footer-link">Area de Lazer</a></li>
                    </ul>

                    <!-- Coluna 3 -->
                    <ul class="footer-links">
                        <h4 class="footerLinks-title">Facility</h4>

                        <li><a href="" class="footer-link">Quartos</a></li>
                        <li><a href="" class="footer-link">Salas</a></li>
                        <li><a href="" class="footer-link">Cozinha</a></li>
                        <li><a href="" class="footer-link">Area de Lazer</a></li>
                    </ul>
                </div>

            </div>
            <div class="footer-copyRight">&#169; Macalis Marcenaria. All rights reserved</div>
        </section>
    <!-- Scroll up -->
    <a href="#home" class="scrollUp-btn flex">
        <i class="bx bx-up-arrow-alt scrollUp-icon"></i>
    </a>
    </main>

    <!-- Swiper JS -->
    <script src="../static/swipper/swiper-bundle.min.js"></script>

    <!-- Scroll Reveal JS -->
    <script src="../static/scroll reveal/scrollreveal.js"></script>
    <script src="../static/scroll reveal/scrollreveal.min.js"></script>

    <!-- Script Default -->
    <script src="../static/js/script.js"></script>
</body>
</html>
